.App {
  align-items: center;
  background-color :whitesmoke;
  display: flex;
  flex-direction: column;
}
.search-bar{
  margin: 20px;
  width: 400px;
  height: 40px;
 
}
.search-form{
display: flex;
flex-direction: column;
align-items: center;

}
.search-button{
  margin: 20px;
  width: 100px;
  height: 30px;
  border: 2px solid pink;
  color : pink;

}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  background: #333;
  padding: 10px 0;
  color: #fff;
}
.fixed-header{
  top: 0;
}
.fixed-footer{
  bottom: 0;
}    